services:

  steel-hammer-postgres:

    networks:
      - steel-hammer-network

    hostname: steel-hammer-postgres
    container_name: steel-hammer-postgres

    build:
      context: . 
      dockerfile: ${DOCKER_FILES_HOMEDIR}/postgres/DockerfilePostgres
    
    ports:
      - "5432:5432"
      
    environment:
      - "POSTGRES_PASSWORD=postgres_admin_pw"
    volumes:
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql

    restart: always


  steel-hammer-keycloak:
    networks:
      - steel-hammer-network

    restart: always
    
    hostname: steel-hammer-keycloak
    container_name: steel-hammer-keycloak

    build:
      context: . 
      dockerfile: ${DOCKER_FILES_HOMEDIR}/keycloak/DockerfileKeycloak
    
    #TODO security first
    #entrypoint: [ "/opt/keycloak/keycloak/bin/kc.sh", "start","--hostname", "steel-hammer-keycloak",  "--https-port=7082" ]
    entrypoint: [ "/opt/keycloak/keycloak/bin/kc.sh", "start-dev", "--import-realm",  "--http-port=7081" ]
    
    volumes:      
       - ./keycloak/dev-realm.json:/opt/keycloak/keycloak/data/import/dev-realm.json
    #  - /opt/keycloak/certs:/opt/keycloak/certs
    
    ports:
      - "7081:7081"
      
    environment:
      #- "KC_HTTPS_KEY_STORE_FILE=/opt/keycloak/certs/keycloak.jks"
      #- "KC_HTTPS_KEY_STORE_PASSWORD=KC_HTTPS_KEY_STORE_PASSWORD"
      - "KC_BOOTSTRAP_ADMIN_USERNAME=admin"
      - "KC_BOOTSTRAP_ADMIN_PASSWORD=admin"
      - "KC_DB=postgres"
      - "KC_DB_USERNAME=keycloak_db_user"
      - "KC_DB_PASSWORD=keycloak_db_pass"
      - "KC_DB_URL=jdbc:postgresql://steel-hammer-postgres:5432/keycloak"

    depends_on:
      - steel-hammer-postgres

  steel-hammer-test:
    networks:
      - steel-hammer-network

    hostname: steel-hammer-test
    container_name: steel-hammer-test

    build:
      context: .
      dockerfile: ${DOCKER_FILES_HOMEDIR}/DockerfileTestRunner

    volumes:
      - ./tests:/tests
      - /tmp/ironbucket-test:/tmp/ironbucket-test

    depends_on:
      - steel-hammer-keycloak
      - steel-hammer-postgres

    environment:
      - "KEYCLOAK_URL=http://steel-hammer-keycloak:7081"
      - "MINIO_URL=http://steel-hammer-minio:9000"
      - "POSTGRES_HOST=steel-hammer-postgres"

    # Test will run automatically when container starts
    entrypoint: ["/bin/bash", "-c", "sleep 30 && /tests/e2e-alice-bob-container.sh"]

    restart: "no"

networks:
  steel-hammer-network:
    driver: bridge
